.message{
    border: 0.063em solid black;
}
.avatar{
    float: left;
    border: 0.063em solid black;
    margin: 0.313em;
    width: 7.813em;
    height: 7.813em;
}
.text p{
    float: right;
}
.messageButtons{
    clear: both;
    border-top: 0.063em solid black;
    margin: 0.313em;
}