
.message{
    border: 0.063em solid black;
}
.userInfo{
    float: left;
}
.avatar{
    border: 0.06em solid black;
    margin: 0.3em;
    width: 8em;
    height: 8em;
}
.userName{
    margin-top: 0;
    margin-left: 0.3em;
    margin-bottom: 1em;
    padding: 0;
}
.textContainer{
    float: left;
}
.messageEditor{
    width: 100%;
    height: 100%;
}
.messageButtons{
    clear: both;
    border-top: 0.06em solid black;
    margin: 0.3em;
}
.topic{
    padding: 0.3em;
    border: 0.06em solid black;
    margin: 0.3em;
}
.messageWriter textarea{
    max-width: 20em;
    max-height: 20em;
    float: left;
    border: 0.06em solid black;
}
.writerButtons{
    clear: both;
    margin: 0.3em;
}
.registerPopup{
    visibility: visible;
    border: 1px solid black;
    position: fixed;
    top: 10em;
    left: 10em;
    background-color: lightgray;
    opacity: 1;
}
.loginPopup{
    visibility: visible;
    border: 1px solid black;
    position: fixed;
    top: 10em;
    left: 10em;
    background-color: lightgray;
    opacity: 1;
}
.loginBar{
    clear: both;
    border: 0.06em solid black;
}
.pageHeader{
    clear: both;
    max-height: 17.5em;
    background-color: darkseagreen;
}
