body{
	background-color: lightblue;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
.page{
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	background-color: whitesmoke;
	padding: 1em;
}
section{
	margin-bottom: 2em;
}
h1{
	font-size: 2em;
}
p{
	white-space: normal;
}
tr{
	border: 1px solid black;
	background-color: white;
}
th{
	border: 1px solid black;
	background-color: white;
}
td{
	border: 1px solid black;
	background-color: white;
}
#total{
	background-color: lightgreen;
}
table{
	border: 1px solid black;
	width: 100%;
	padding: 0.5em;
	background-color: lightgray;
}
